<%- model_class = Lead3 -%>
<div>
  <%= link_to "Back",  {:controller => "home", :action => "index"} %></li>
</div>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:message) %></th>
      <th><%= model_class.human_attribute_name(:appointment_date) %></th>
      <th><%= model_class.human_attribute_name(:appointment_time) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:postal_code) %></th>
      <th><%= model_class.human_attribute_name(:company_name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lead3s.each do |lead3| %>
      <tr>
        <td><%= link_to lead3.id, lead3_path(lead3) %></td>
        <td><%= lead3.first_name %></td>
        <td><%= lead3.last_name %></td>
        <td><%= lead3.email %></td>
        <td><%= lead3.phone %></td>
        <td><%= lead3.message %></td>
        <td><%= lead3.appointment_date %></td>
        <td><%= lead3.appointment_time %></td>
        <td><%= lead3.address %></td>
        <td><%= lead3.city %></td>
        <td><%= lead3.state %></td>
        <td><%= lead3.postal_code %></td>
        <td><%= lead3.company_name %></td>
        <td><%=l lead3.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lead3_path(lead3), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lead3_path(lead3),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lead3_path,
            :class => 'btn btn-primary' %>
