<%- model_class = Lead1 -%>
<div>
  <%= link_to "Back",  {:controller => "home", :action => "index"} %></li>
</div>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:message) %></th>
      <th><%= model_class.human_attribute_name(:appointment_date) %></th>
      <th><%= model_class.human_attribute_name(:appointment_time) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:postal_code) %></th>
      <th><%= model_class.human_attribute_name(:company_name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lead1s.each do |lead1| %>
      <tr>
        <td><%= link_to lead1.id, lead1_path(lead1) %></td>
        <td><%= lead1.first_name %></td>
        <td><%= lead1.last_name %></td>
        <td><%= lead1.email %></td>
        <td><%= lead1.phone %></td>
        <td><%= lead1.message %></td>
        <td><%= lead1.appointment_date %></td>
        <td><%= lead1.appointment_time %></td>
        <td><%= lead1.address %></td>
        <td><%= lead1.city %></td>
        <td><%= lead1.state %></td>
        <td><%= lead1.postal_code %></td>
        <td><%= lead1.company_name %></td>
        <td><%=l lead1.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lead1_path(lead1), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lead1_path(lead1),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lead1_path,
            :class => 'btn btn-primary' %>
