<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

  <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">CRM APP</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Signout" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="span9">
<h1>Welcome to Customer Relationship Management Tool</h1>

        <%= link_to "Lead1",  {:controller => "lead1s"} %></li> <br>
        <%= link_to "Lead2",  {:controller => "lead2s"} %></li> <br>
        <%= link_to "Lead3",  {:controller => "lead3s"} %></li> <br>
        <%= link_to "Lead4",  {:controller => "lead4s"} %></li> <br>
        <%= link_to "Lead5",  {:controller => "lead5s"} %></li> <br>
</div>
 <div class="span3">
    <h2>About Us</h2>
    <p>Icicle is a Web & Mobile consulting company focusing on Start ups, Digital Agencies & Enterprises. We create beautiful & engaging UX, clean Front Ends, scalable Applications and manage them on Cloud.</p>
    <p>With nearly a decade of development background, we work with host of technologies like Ruby on Rails, Javascript, Node.js, Angular.js, Ember.js, Android, iOS etc. in bringing ideas to life for our clients and partners. </p>
  </div>
</body>
</html>