<!DOCTYPE html>
<html>

<head>
  <style>
      .span6{
          text-align: center;
      }
      .image{
          background-size:cover;
      }
  </style>
</head>
<body>
<div class="row-fluid">
  <div class="span6">
    <h2>Sign in</h2>
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>
     <%= render "devise/shared/links" %>
  </div>
  <div class="span6">
    <div>
      <a href=" http://www.icicletech.com/"> <h3> What We Do </h3></a>
      <p>UI & UX Design</p>
      <p>Front End Development</p>
      <p>Web & Mobile Apps</p>
      <p>Cloud Scaling & DevOps</p>
    </div>

    <div>
      <a href=" http://www.icicletech.com/"><h3> Who We Serve </h3></a>
      <p>Startups & Accelerators</p>
      <p>Digital Agencies</p>
      <p>SaaS Product Companies</p>
      <p>Enterprises</p>
    </div>

    <div>
      <a href=" http://www.icicletech.com/"><h3> How We Do It </h3></a>
      <p>Lean Product Development</p>
      <p>Agile Project Management</p>
      <p>Test Driven Development</p>
      <p>Continuous Delivery & Deployment</p>
    </div>
  </div>
</div>

</body>
</html>
