<div class="container">
<h1 style="padding-left: 30px"> Contact us</h1>
<div class="span6">
<%= form_for @contact, :url => contact_path do |form| %>


    <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>

    <fieldset class="fields">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      <div class="field">
        <%= form.label :subject %>
        <%= form.text_field :subject %>
      </div>

      <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body %>
      </div>
    </fieldset>

    <fieldset class="actions">
      <%= form.submit "Send" %>
    </fieldset>
<% end %>
</div>

<div class="span4">
  <div style="float: right"><%= link_to "back",  {:controller => "home", :action => "index"} %></li></div>
  <h3>What We Offer</h3>
  <p>A company that invests in you, trains you, sends you to conferences and pushes you to grow.</p>
  <p>Work on the brilliant ideas around the world. Work with startups which are innovating like hell, contribute your own.</p>
  <p>Work smart, so that you can have a fine balance between life and work.</p>
  <p>An opportunity to work on cutting edge technologies and products in a challenging, but informal work environment.</p>
  <p>A team that is young, passionate, skilled and open. A team which knows how to have fun on job.</p>
  <p>Come work in an environment that will inspire and motivate you.</p>
</div>
</div>