<!DOCTYPE html>
<html>
<head>
  <title>CRM</title>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #6E6E6E">
<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>
</body>
</html>
